
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #677a85;
}

header {
    color: white;
    background-color: #333;
}
.header-text {
    padding-top: 3px;
}

pre {
    margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45474B;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

content {
    display: grid;
    grid-template-columns: repeat(2);
    grid-auto-rows: minmax(auto, auto);
    font-size: large;
    text-align: left;
}

.content-text {
    background-color: #839AA8;
    color: white;
    grid-column: 1;
}

.content-img {
    background-color: #839AA8;
    grid-column: 2;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #2d373d;
    text-align: center;
    color: white;
}
